/* danmuapp stylesheet */
/* 1em = 10px */

body {
  font-size:62.5%;
}

.btn {
  background-color:white;
  border-radius:2px;
  font-size:1.2em;
  margin:20px 10px;
  position:relative;
  text-align:center;
}

.btn-fire {
  border: 1px solid rgb(230, 80, 30);
  box-shadow:1px 1px 1px;
  color:rgb(230, 80, 0);
  height:40px;
  width:165px;
}

.btn-clean {
  border:1px solid rgb(230, 230, 230);
  box-shadow:1px 1px 1px;
  height:40px;
  width:165px;
}

.comment {
  font-size:1.8em;
  position:absolute;
}

.danmubox {
  border:1px solid lightgrey;
  height:380px;
  margin-bottom:40px;
  position:relative;
  width:100%;
}

.headline {
  font-size:1em;
}

.headline-text {
  font-family:monospace;
  font-size:3em;
  text-align:center;
}

input {
  border:1px solid rgb(230, 230, 230);
  border-radius:2px;
  height:30px;
  margin-right:10px;
  width:400px;
}


.main-content {
  text-align:center;
}
